html,
body {
  width: 100%;
  height: 100%;
  background-color: tomato;
}

/* Index page*/
#main-container {
  display: flex;
  height: 100%;
}
.main-divs {
  width: 50%;
}

#left{
  background-image: url("../images/chitter_background.png");
}

#right {
  background-color: #fff;
}

#chitter-title {
  text-align: center;
  padding-top: 40%;
  padding-bottom: 0;
}

#button-container {
  margin-top: 5%;
  text-align: center;
}

.btn {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid tomato;
  color: tomato;
  padding: 0;
}

#sign-up-btn {
  margin-top: 15px;
  color: #fff;
  background-color: tomato;
}

/* Sign Up*/

#sign-up-container {
  background-color: #fff;
  margin-top: 5%;
}

#sign-up-wrapper {
  margin-left: 115px; 
  margin-right: 115px;
  padding-bottom: 15px;
  text-align: center;
}

#sign-up-wrapper > h3 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.sign-up-input > input{
  width: 280px;
  margin-bottom: 15px;
}

#confirm-sign-up-btn {
  margin-top: 15px;
  width: 75px;
  height: 34px;
  color: #fff;
  background-color: tomato;
}

/* Sign up error messages */

#errorMsgModal .modal-header {
  padding-top: 5px;
  padding-bottom: 0;
}

#errorMsgModal .modal-body {
  text-align: center;
}

/* Peeplist */

#peep-list {
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.peep-list-item {
  border-bottom: 1px solid #D0D0D0;
}

.peep-list-item:hover {
  background-color: #F5F5F5;
}

.peep-list-item > a {
  text-decoration: none;
  color: #000;
}

.likes-container {
  width: fit-content;
}

.likes-container:hover {
  color: tomato;
  cursor: pointer;
}

/* Single peep modal */

.modal-content {
  border-radius: 10px;
  margin-top: 10%;
}

.modal-header {
  border: none;
}

.time-and-date-container {
  position: absolute;
  left: 15px;
}