html,
body {
  width: 100%;
  height: 100%;
  background-color: tomato;
}

/* Index page*/
#main-container {
  display: flex;
  height: 100%;
}

.main-divs {
  width: 50%;
}

#left {
  background-image: url("../images/chitter_background.png");
}

#right {
  background-color: #fff;
}

#chitter-title {
  text-align: center;
  padding-top: 40%;
  padding-bottom: 0;
}

#button-container {
  margin-top: 5%;
  text-align: center;
}

.btn {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid tomato;
  color: tomato;
  padding: 0;
}

#sign-up-btn:hover,
#confirm-sign-up-btn:hover,
#confirm-log-in-btn:hover,
#peep-btn:hover,
#composePeep:hover {
  background-color:#d0513a;	
}

.nav-btn:hover,
#log-in-btn:hover {
  background-color: #ffe2dd;
}

#sign-up-btn {
  margin-top: 15px;
  color: #fff;
  background-color: tomato;
}

/* Sign Up / Log In */

#sign-up-container,
#log-in-container {
  background-color: #fff;
  margin-top: 5%;
}

#sign-up-wrapper,
#log-in-container {
  margin-left: 115px; 
  margin-right: 115px;
  padding-bottom: 15px;
  text-align: center;
}

#sign-up-wrapper > h3,
#log-in-wrapper > h3 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.sign-up-input > input,
.log-in-input > input {
  width: 280px;
  margin-bottom: 15px;
}

#confirm-sign-up-btn,
#confirm-log-in-btn {
  margin-top: 15px;
  width: 75px;
  height: 34px;
  color: #fff;
  background-color: tomato;
}

/* Error messages */

#errorMsgModal .modal-header {
  padding-top: 5px;
  padding-bottom: 0;
}

#errorMsgModal .modal-body {
  text-align: center;
}

#errorMsgModal .modal-header > button {
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#errorMsgModal .modal-header > button:focus {
  outline: 0;
}

#errorMsgModal .modal-body >p {
  color: tomato;
}

/* Nav bar */

#nav-bar {
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
}

.left-links .nav-item {
  height: 45px;;
  width: 60px;
  text-align: center;
}

.left-links .nav-item:hover,
.active-link-item {
  border-bottom: 3px solid tomato;
}

.nav-link:hover,
.active-link {
  color: tomato !important;
}

.right-links .nav-item {
  padding-left: 14px;
}

.nav-btn {
  width: 75px;
  background-color: #fff;
  color: tomato !important;
}

#peep-btn {
  color: #fff !important;
  background-color: tomato;
}

/* Peeplist */

#peep-list {
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 10px;
}

.peep-list-item {
  border-bottom: 1px solid #D0D0D0;
}

.peep-list-item:hover {
  background-color: #F5F5F5;
}

.peep-list-item > a {
  text-decoration: none;
  color: #000;
}

.likes-container {
  width: fit-content;
}

.likes-container:hover {
  color: tomato;
  cursor: pointer;
}

/* Compose peep modal */

#composePeepModalTitle {
  margin: 0 auto;
}

#composePeepModal .modal-body {
  background-color: #ffe2dd;
  padding-bottom: 1px;
}

#peepTextArea {
  height: 85px;
  border: 2px solid #ffa99a;
  border-radius: .5rem;
}

#composePeepModal .modal-footer {
  border-top: none;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  padding-top: 0;
  background-color: #ffe2dd;
}

#composePeep {
  color: #fff;
  background-color: tomato;
  width: 75px;
}

/* Single peep modal */

.modal-content {
  border-radius: 10px;
  margin-top: 10%;
}

.modal-header {
  border: none;
}

.time-and-date-container {
  position: absolute;
  left: 15px;
}